 @use "./variables" as vars;
 @use "./mixins" as mix;
 @use "./extensiones";
 @use "../base/funcionalidades";
 @use "../base/generales";
 @use "../base/querys";

 .footer-contacto {
     background-color: vars.$color-fondo;
     padding: 20px 0;
     margin-top: 0;

     .redes {
         text-align: center;
         font-size: 18px;
         font-weight: 300;
     }

     .redes-sociales {
         @include mix.flex-center;
         flex-direction: column;
         margin: 30px 0;
         padding: 10px;

         .iconos-redes {
             display: flex;
             gap: 10px;
         }
     }

     img {
         width: 70px;
         height: auto;
         margin-bottom: 10px;
     }
 }