 @use "./variables" as vars;
 @use "./mixins" as mix;
 @use "./extensiones";
 @use "../base/funcionalidades";
 @use "../base/generales";
 @use "../base/querys";

 header {
     background-color: vars.$color-fondo;
     height: 12vh;

     .navbar-brand {
         img {
             height: 70px;
             width: 200px;
             margin: 10px;
         }
     }

     .nav-link {
         color: vars.$color-principal !important;
     }

     .boton {
         @include mix.boton(vars.$color-boton, vars.$color-principal);
         border: 2px solid vars.$color-fondo;
         border-radius: 2px;

         &:hover {
             background-color: vars.$color-boton-hover;
         }
     }
 }

 /* Para el carousel */

 .carousel-inner div img {
     width: 70%;
     height: 500px;
     padding: 20px;
     background-color: vars.$color-fondo;
 }

 /* Logo */

 .logoo {
     height: 120px;
 }