 @use "./variables" as variables;
 @use "./mixins" as mixins;
 @use "./extensiones"; // Lo importo sin alias para que el placeholder funcione con @extend %titulo;

 @use "../base/funcionalidades";
 @use "../base/generales";
 @use "../base/querys";

 // Header
 header {
     background-color: variables.$color-fondo;
     height: 12vh;

     .navbar-brand {
         img {
             height: 70px;
             width: 200px;
             margin: 10px;
         }
     }

     .nav-link {
         color: variables.$color-principal !important;
     }

     .boton {
         border: 2px solid variables.$color-fondo;
         border-radius: 2px;
         color: variables.$color-secundario;
         background-color: variables.$color-boton;

         &:hover {
             background-color: variables.$color-boton-hover;
         }
     }
 }

 .carousel-inner div img {
     width: 70%;
     height: 500px;
     padding: 20px;
     background-color: variables.$color-fondo;
 }

 .logoo {
     height: 120px;
 }

 /* Main */

 .main-principal {
     .titulo-principal-main {
         @extend %titulo; // Sin prefijo para evitar error
         @include mixins.flex-center;
         color: variables.$color-titulo;
         padding: 5px;
         margin: 10px;
         font-size: 30px;
     }
 }

 .fondo-titulo-inicio {
     @include mixins.flex-center;
     color: rgba(20, 11, 98, 0.077);
     padding: 0;
     margin: 0;
     background-color: variables.$color-fondo;
 }

 .principal-index {
     @include mixins.flex-center;
     text-align: center;
     color: white;
     height: 100vh;
     justify-content: flex-start;
     padding-left: 60px;
     background: url("../img/index foto 1.jpeg") no-repeat center/cover fixed;

     .contenido-principal-index {
         h1 {
             color: variables.$color-index;
             position: relative;
             z-index: 1;
             max-width: 700px;
             font-size: 70px;
         }

         .boton-principal-index {
             @include mixins.boton(rgba(128, 128, 128, 0.543), black);
             margin-top: 15px;
         }
     }
 }

 /* Productos inicio */

 .productos-inicio {
     .producto-destacado {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-items: center;
         gap: 30px;
         padding: 30px;
         background-color: variables.$color-fondo;
     }

     .tarjeta-producto {
         border-radius: 8px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
         width: 250px;
         padding: 10px;
         text-align: center;
         transition: transform 0.2s;
         flex-wrap: wrap;

         &:hover {
             transform: scale(1.05);
         }
     }
 }

 img {
     width: 100%;
     height: auto;
     border-radius: 8px;
 }

 p {
     font-weight: 300;
 }

 /* Footer */

 .footer-contacto {
     .redes {
         text-align: center;
         font-size: 18px;
         font-weight: 300;
     }

     .redes-sociales {
         @include mixins.flex-center;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 30px 0;
     }

     .iconos-redes {
         @include mixins.flex-center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 10px;
     }

     img {
         width: 70px;
         height: auto;
         margin-bottom: 10px;
     }
 }

 .fixed {
     img {
         width: 60px;
         position: fixed;
         bottom: 50px;
         right: 20px;
     }
 }