 @use "./variables" as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boton($bg-color, $text-color) {
  display: inline-block;
  background-color: $bg-color;
  color: $text-color;
  padding: 15px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: vars.$font-principal;
  transition: background-color 0.3s ease;
}

