 @use "./variables" as vars;
 @use "./mixins" as mix;
 @use "./extensiones";
 @use "../base/funcionalidades";
 @use "../base/generales";
 @use "../base/querys";

 // HEADER
 header {
   background-color: vars.$color-fondo;
   height: 12vh;

   .navbar-brand {
     img {
       height: 70px;
       width: 200px;
       margin: 10px;
     }
   }

   .nav-link {
     color: vars.$color-principal !important;
   }

   .boton {
     border: 2px solid vars.$color-fondo;
     border-radius: 2px;
     color: rgb(22, 22, 99);
     background-color: vars.$color-boton;

     &:hover {
       background-color: vars.$color-hover-boton;
     }
   }
 }

 // CAROUSEL
 .carousel-inner div img {
   width: 70%;
   height: 500px;
   padding: 20px;
   background-color: vars.$color-fondo;
 }

 .logoo {
   height: 120px;
 }

 // SOBRE NOSOTROS

 .fondo-titulo-sobre-nosotros {
   @include mix.flex-center;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
 }

 .titulo-sobre-nosotros {
   @extend %titulo;
   font-family: vars.$font-principal;
   font-size: 30px;
   font-weight: 250;
   color: vars.$color-titulo;
   margin: 0;
   padding: 30px;
   text-align: center;
 }

 .titulo-principal-nosotros {
   font-size: 10px;
   font-weight: 500;
   font-family: vars.$font-principal;
   color: vars.$color-titulo;
   background-color: vars.$color-fondo;
   padding: 10px 15px;
   margin: 5px auto;
   border-radius: 10px;
   text-align: center;
 }

 .contenido-sobre-nosotros {
   p {
     @extend %parrafo;
     font-family: vars.$font-principal;
     font-size: 18px;
     line-height: 1.6;
     color: vars.$color-texto;
     background-color: transparent;
     padding: 10px 20px;
     max-width: 900px;
     margin: 0 auto;
     text-align: center;
   }
 }

 .foto-negocio-nosotros {
   @include mix.flex-center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 15px 0;
   margin: 0;
   background-color: transparent;

   img {
     max-width: 100%;
     height: auto;
     border-radius: 8px;
   }
 }

 .boton-centro {
   text-align: center;

   .boton-contacto {
     @include mix.boton(vars.$color-boton-claro, white);
     margin-top: 30px;
     margin-bottom: 60px;

     &:hover {
       background-color: vars.$color-hover-boton-contacto;
     }
   }
 }

 // FOOTER CONTACTO

 .footer-contacto {
   background-color: vars.$color-fondo;
   padding: 20px 0;
   margin-top: 0;

   .redes {
     text-align: center;
     font-size: 18px;
     font-weight: 300;
   }

   .redes-sociales {
     @include mix.flex-center;
     flex-direction: column;
     margin: 30px 0;
   }

   .iconos-redes {
     @include mix.flex-center;
     flex-direction: column;
     padding: 10px;
   }

   img {
     width: 70px;
     height: auto;
     margin-bottom: 10px;
   }
 }