//_variables.scss
$color-principal: rgb(17, 17, 118);
$color-secundario: rgb(22, 22, 99);
$color-titulo: rgba(33, 20, 106, 0.931);
$color-fondo: white;
$color-hover-boton: rgba(128, 128, 128, 0.489);
$color-boton: rgba(128, 128, 128, 0.441);
$color-texto: #0a1a57;
$color-parrafo: #333;
$color-index: rgb(50, 50, 150);
$color-boton-claro: rgba(200, 200, 200, 0.7);
$color-hover-boton-contacto: rgba(180, 180, 180, 0.6);
$font-principal: 'Raleway', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;
